:root {
  --maincolor: #f5ecdd;
  --white: #fff;
  --secondarycolor: #3d2314;
  --accentgreen: #777b56;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Great Vibes", sans-serif;
}